/*div {
    background-color: blue
    
}*/
.active {
    font-weight:bold;
}

h1 {color: white;
    margin: 4%;
    display:inline-block;
}

h2  {color: white;
    display:inline-block;
    font-weight: 100;
    margin-left: 5%;
 }
h3 {color: rgb(54, 48, 48);

}

h4 {color: #7373b7;}

p {color: rgb(54, 48, 48);
font-size:14px;
display:inline-block;}
.banner {background-color:rgb(106, 149, 228);;
    width:99%;

     ;
    



}
a {text-decoration: none;
    color:whitesmoke;

}

.Curses {background-color: gray;
margin-left:5%;
margin-right:5%;
}

.hellos {margin:5%}

.likes {
    margin-left:5%;
    margin-right:5%;
    background-color: #E69641;
    position:relative;}

h5 {background-color:#E69641;
    display:inline-block;
    
    width: auto;
    margin-top:0;
    margin-bottom: 0;
    }
.boxes {
    text-align: center;
    
    width: 26%;;
   
    background-color:#DDDEE0;
    margin:3%;
    display:inline-block;
}
.center-box {
    padding-top: 30%;
    padding-bottom:30%;
    font-size:30;
    

}